@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --primary-teal: hsl(179, 62%, 43%);
  --primary-green: hsl(71, 73%, 54%);
  --secondary-teal: rgb(84 210 201);
  --Neutral-teal: hsl(204, 43%, 93%);
  --Neutral-gray: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: "Karla", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--Neutral-teal);
}
.main {
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}
.header {
  padding: 3rem 4rem;
  font-weight: 700;
  background-color: white;
}
.head {
  font-size: 2.5rem;
  color: var(--primary-teal);
  margin-block: 0 2rem;
}
.sub-head {
  font-size: 2rem;
  color: var(--primary-green);
  margin-block: 0 1.5rem;
}
.paragraph {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--Neutral-gray);
  line-height: 2rem;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}
.subscription-sec {
  padding: 4rem;
  background-color: var(--primary-teal);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subscripe-period {
  font-size: 1.6rem;
  margin-block: 0 2rem;
}
.subscripe-price {
  font-size: 2.8rem;
  display: flex;
  align-items: center;
  margin-block: 0 1.5rem;
  gap: 1rem;
  font-weight: 700;
}
.period {
  font-size: 1.5rem;
  font-weight: 200;
}
.subscripe-message {
  margin-block: 0 2.5rem;
  font-size: 1.3rem;
}

.query-sec {
  background-color: var(--secondary-teal);
  padding: 4rem;
}
.query {
  font-size: 1.4rem;
  margin-block: 0 1.5rem;
}
.answer {
  font-size: 1.4rem;
  width: 73%;
  line-height: 2rem;
  font-weight: 300;
}
.btn {
  color: white;
  background-color: var(--primary-green);
  border: 1px solid gray;
  box-shadow: 0 0.4rem 0.7rem rgba(0, 0, 0, 0.15);
  outline: none;
  cursor: pointer;
  border-radius: 0.6rem;
  padding: 1.5rem 8.5rem;
  transition: all 0.3s;
}
.btn:hover {
  filter: brightness(0.9);
}
.btn:active {
  transform: translateY(3px);
  box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.15);
}
@media (max-width: 600px) {
  .main {
    max-width: 31rem;
    margin: 1rem;
  }
  .footer {
    grid-template-columns: 1fr;
  }
  .header {
    padding: 3rem;
  }
  .subscription-sec {
    padding: 3rem;
  }
  .query-sec {
    padding: 3rem;
  }
  .answer {
    max-width: 71%;
  }
}
